@import url(/css/fonts.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  background-color: #fefcf7;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-family: "Fraunces", "Times new roman", serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* HEADER */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 20px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-item + .header-item {
  margin-left: 32px;
}

.header-item a {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  color: #83888f;
  transition: color 0.25s ease;
}

.header-item a:hover {
  color: #333d4b;
}

/* HERO */

.hero .container {
  width: 1280px;
  padding: 0;
  padding: 117px 85px;
  background-image: url(../images/jpg/hero-picture.jpg);
  background-position: left 0 bottom -250px;
  border-radius: 10px;
}

.hero-info {
  width: 495px;
}

.hero-heading {
  margin: 0;
  margin-bottom: 32px;
}

.hero-text {
  width: 445px;
  margin-bottom: 56px;
  color: #fefcf7;
  opacity: 0.8;
}

.hero-link {
  display: inline-block;
  padding: 15px 30px;
  font-family: "Fraunces", "Times new roman", serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  color: #fefcf7;
  background-color: #0e8784;
  border-radius: 6px;
  transition: background-color 0.25s ease;
}

.hero-link:hover {
  background-color: #66d2cf;
}

/* BUTTON */
.button {
  display: inline-block;
  width: 217px;
  padding: 15px;
  font-family: "Fraunces", "Times new roman", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  color: #fefcf7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #0e8784;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.button:hover {
  background-color: #66d2cf;
}

.button:disabled {
  background-color: #e2dedb;
}

/* PRODUCTS */

.products .container {
  position: relative;
  padding-top: 260px;
  padding-bottom: 200px;
}

.products-heading {
  position: absolute;
  top: 220px;
  right: 50%;
  transform: translateX(50%);
  z-index: -2;
  margin: 0;
  font-family: "Fraunces", "Times new roman", serif;
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  white-space: nowrap;
  color: #83888f;
}

.products-heading::after {
  content: "";
  position: absolute;
  bottom: -40px;
  right: 50%;
  transform: translateX(50%);
  width: 100vw;
  height: 200px;
  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
}

.product-menu {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.product {
  width: 255px;
  text-align: center;
}

.product img {
  margin-bottom: 72px;
}

.product-name {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Fraunces", "Times new roman", serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.product-text {
  margin: 0;
}

/* DISCOVERY */

.discovery .container {
  position: relative;
  margin-bottom: 200px;
  padding-bottom: 150px;
}

.discover__inner {
  padding-top: 100px;
  padding-bottom: 315px;
  background: #2c343e;
  border-radius: 10px;
  text-align: center;
  color: #fefcf7;
}

.discovery__heading {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.discovery__text {
  width: 540px;
  margin: 0 auto;
  opacity: 0.8;
}

.discovery__list {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
  display: flex;
  column-gap: 30px;
}

.discovery__item {
  width: 350px;
  padding: 48px;
  padding-top: 72px;
  background: #0e8784;
  border-radius: 8px;
}

.discovery__item::before {
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
  margin-bottom: 56px;
  background-image: url(../images/svg/discovery-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.discovery__item:nth-child(2)::before {
  background-image: url(../images/svg/discovery-2.svg);
}

.discovery__item:nth-child(3)::before {
  background-image: url(../images/svg/discovery-3.svg);
}

.discovery__item__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.discovery__item__text {
  margin: 0;
}

/* STEPS */

.steps .container {
  margin-bottom: 200px;
}

.steps__heading {
  margin: 0;
  margin-bottom: 95px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.steps__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.step {
  position: relative;
  margin-bottom: 64px;
  padding-top: 82px;
}

.step::before {
  content: "";
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #fefcf7;
  border: 2px solid #0e8784;
  border-radius: 50%;
}

.step::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 15px;
  transform: translateY(-50%);
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #fdd6ba;
}

.step:last-child::after {
  width: 0;
}

.step__number {
  display: block;
  margin-bottom: 38px;
  font-family: "Fraunces", "Times new roman", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}

.step__title {
  width: 265px;
  margin: 0;
  margin-bottom: 42px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
}

.step__text {
  width: 300px;
  margin: 0;
}

/* FOOTER */
.footer .container {
  margin-bottom: 90px;
}

.footer-inner {
  display: flex;
  align-items: center;
  padding: 47px 85px;
  background: #2c343e;
}

.footer .logo-link {
  margin-right: 100px;
}

.footer .nav {
  margin-right: auto;
}

.footer .nav__link--active {
  color: #fefcf7;
}

.footer .nav__link:hover {
  color: #fefcf7;
}

.socials {
  display: flex;
  align-items: center;
}

.social {
  background-position: center;
  background-repeat: no-repeat;
}

.social + .social {
  margin-left: 24px;
}

.social__image {
  display: block;
  transition: opacity 0.25s ease;
}

.social:hover .social__image {
  opacity: 0;
}

.social:nth-child(1) {
  background-image: url(../images/svg/socials/facebook.svg);
}

.social:nth-child(2) {
  background-image: url(../images/svg/socials/twitter.svg);
  background-size: 24px 20px;
}

.social:nth-child(3) {
  background-image: url(../images/svg/socials/instagram.svg);
}
